* {
            margin: 0;
            padding: 0;
        }

        .grid-container>div {
            font-size: 30px;
            /* outline: 3px solid rgb(10, 28, 226); */
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
        }

        .menu-bar {
            display: none !important;
        }
        body {
    
            background-image: url('background.jfif');
             background-size: cover; 
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed; 
}

        .navbar {
            grid-column: 1/11;
            padding: 20px;
            background-color: rgb(11, 83, 116);
            color: rgb(0, 0, 0);

           
            

            ul {
                /* background-color: rgb(25, 0, 254);
                border-radius: 40px;
                padding: 20px; */
                float: right;
                list-style: none;
                display: flex;
                flex-direction: row;

            }

            /* li:nth-child(1) {
                position: absolute;
                left: 0;
            } */

            li {
                padding-inline: 20px;
            }

            a {
                font-size: 2.5rem;
                font-family: "Hanuman",serif;
                font-weight: 700;
                text-decoration: none;
                color: rgb(0, 0, 0);
            }

            /* #logo:hover {
                background-color: rgb(208, 255, 1);
                color: black;
                font-size: 3rem;
                transform: scale(2.1);
                
                padding: 20px;
            } */

            #logo {
                position: absolute;
                left: 0;
                border-radius: 40px;
                transition: 0.4s ease-in-out;
            }

            #menu {
                display: none;
            }
        }

        .image-section {
            grid-column: 1/5;
            text-align: center;
            padding: 4rem 0px 0px 0px;
            margin-top: 60px;

            img {
                border-radius: 50%;
                width: 50%;
                height: 120%;
            }
        }

        .text-section {
            grid-column: 5/11;
            display: grid;
            place-content: center;
            color: #ffffff;

            ul {
                display: flex;
                list-style: none;
                flex-direction: column;
            }

            li:nth-child(1) {
              font-family: "Hanuman",serif;
                font-size: 4rem;
                font-weight: bold;
                margin-top: 100px;
            }

            li:nth-child(2) {
                font-family: "Hanuman",serif;
            }
            li:nth-child(3) {
               font-family: "Hanuman",serif;
                margin-top: 85px;
            }
        }

        .footer {
            grid-column: 1/11;
            height: 10vh;
        }

        @media screen and (max-width: 1000px) {
            .navbar {
                background-color: rgb(11, 83, 116);

                ul li a {
                    font-size: 2rem;
                }

                #logo {
                    margin-top: -10px;
                    font-size: 3rem;
                    margin-left: 20px;
                }
            }

            .image-section {
                grid-column: 1/5;
                padding-top: 10px;

                img {
                    border-radius: auto;
                    width: 80%;
                    height: 100%;
                    margin-top: 10px;
                }
            }

            .text-section {
                grid-column: 5/11;
                padding-top: 1rem;

                li:nth-child(1) {
                    font-size: 3rem;
                }

                li:nth-child(2) {
                    font-size: 2rem;
                }
            }
        }

        @media screen and (max-width: 800px) {
            .navbar {
                ul {
                    display: none;
                }

                #logo {
                    font-size: 30px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }

            .image-section {
                grid-column: 1/5;
                padding-top: 10px;

                img {
                  border-radius: auto;
                  width: 80%;
                  height: 120%;
                  margin-top: 10px;
                }
            }

            .text-section {
                grid-column: 5/11;
                padding-top: 1rem;

                li:nth-child(1) {
                    font-size: 2rem;
                }

                li:nth-child(2) {
                    font-size: 1.5rem;
                }
                li:nth-child(3) {
                    font-size: 1.5rem;
                }
            }
        }

        @media screen and (max-width: 600px) {
            .navbar {
                ul {
                    display: none;
                }

                #logo {
                    font-size: 20px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }

            .image-section {
                grid-column: 1/11;
                  img {
                  border-radius: 100%;
                  width: 30%;
                  height: 90%;
                  margin-top: 10px;
                }
            }

            .text-section {
                grid-column: 1/11;

                li:nth-child(1) {
                    font-size: 2rem;
                }

                li:nth-child(2) {
                    font-size: 1rem;
                }
                li:nth-child(3) {
                    font-size: 1rem;
                }
            }
        }

        @media screen and (max-width: 500px) {
            .navbar {
                ul {
                    display: none;
                }

                #logo {
                    font-size: 20px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }


            .text-section {

                li:nth-child(1) {
                    font-size: 1.8rem;
                }

                li:nth-child(2) {
                    font-size: 1.3rem;
                }
                li:nth-child(3) {
                    font-size: 1.3rem;
                }
            }
        }

        @media screen and (max-width: 400px) {
            .navbar {
                ul {
                    display: none;
                }

                #logo {
                    font-size: 30px;
                    margin-left: 20px;
                }

                #menu {
                    float: right;
                }
            }

            .image-section {
                grid-column: 1/11;
            }

            .text-section {
                grid-column: 1/11;

                li:nth-child(1) {
                    font-size: 1.6rem;
                }

                li:nth-child(2) {
                    font-size: 1.3rem;
                }
                li:nth-child(2) {
                    font-size: 1.3rem;
                }
            }
        }