* {
    margin: 0;
    padding: 0;

}

/* .grid-container>div {
    font-size: 30px;
    outline: 3px solid rgb(10, 28, 226);
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.menu-bar {
    display: none !important;
    float: right;
    
}

body {
    
    background-image: url('background.jfif');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}

.navbar {
    grid-column: 1/11;  
    padding: 30px;
    background-color: rgb(11, 83, 116);
    color: rgb(0, 0, 0);

    ul {
        /* background-color: rgb(25, 0, 254);
        border-radius: 40px;
        padding: 20px; */
        float: right;
        list-style: none;
        display: flex;
        flex-direction: row;

    }

    /* li:nth-child(1) {
        position: absolute;
        left: 0;
    } */

    li {
        padding-inline: 20px;
    }

    a {
        font-size: 2.5rem;
        font-family: "Hanuman",serif;
        font-weight: 700;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    /* #logo:hover {
        background-color: rgb(3, 105, 28);
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        transform: scale(1.1);
        padding: 20px;
    } */

    #logo {
        position: absolute;
        left: 3px;
        border-radius: 40px;
        /* transition: 0.4s ease-in-out; */
    }

    #menu {
        display: none !important;
        float: right;
    }
}

.image-section {
    grid-column: 1/5;
    text-align: center;
     /*border-radius: auto;*/
      /* padding-top:   20px ; */
      margin-top: 30px ;


    img {
        border-radius: 80%;
        width: 70%;
        height: auto;
        /* border-color: rgb(255, 247, 247); */

    }
}

.text-section {
    grid-column: 5/11;
    display: grid;
    place-content: left;

    ul {
        display: flex;
        list-style: none;
        flex-direction: column;
    }

    li:nth-child(1) {
      
        font-size: 5rem;
        color: rgba(241, 247, 250, 0.925);
        text-align: l;
        padding-top: 5rem;
         font-size: 350%;


    }

    li:nth-child(2) {
      
        color: rgba(241, 247, 250, 0.925);
        text-align: bottom;
        /* margin-bottom: 150px; */
         font-size: 200%;
    }

    li:nth-child(3) {
       
        color: rgba(241, 247, 250, 0.925);
        text-align: left;
        margin-top: 80px;
        font-size: 2rem;
    }

    li:nth-child(4) {
      
        color:  rgba(241, 247, 250, 0.925);
        text-align: bottom;
        font-size: 200%;

    }

    /* li:nth-child(5) {
      
        color: rgba(241, 247, 250, 0.925);
        text-align: bottom;
    } */

}

.footer {
    grid-column: 1/11;
    height: 20px;
}
@media screen and (max-width: 1200px) {
    .navbar {
        /* background-color:rgb(3, 105, 28); */
        height: 50px;

        ul li a {
            font-size: 2.5rem;
        }

        #logo {
            margin-top: 10px;
            font-size: 2.5rem;
            margin-left: 20px;
        }
    }

    .image-section {
        grid-column: 1/5;
        padding-top: 80px;

        /* img {
            width: 80%;
        } */
    }

    .text-section {
        grid-column: 5/11;
        padding-top: 1rem;

        li:nth-child(1) {
            font-size: 2rem;
        }

        li:nth-child(2) {
            font-size: 1.5 rem;
        }
        li:nth-child(3) {
            font-size: 1.5rem;
        }
        li:nth-child(4) {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 1100px) {
    .navbar {
        /* background-color:rgb(3, 105, 28); */
        height: 50px;

        ul li a {
            font-size: 2.5rem;
        }

        #logo {
            margin-top: 10px;
            font-size: 2.5rem;
            margin-left: 20px;
        }
    }

    .image-section {
        grid-column: 1/5;
        padding-top: 80px;

        /* img {
            width: 80%;
        } */
    }

    .text-section {
        grid-column: 5/11;
        padding-top: 1rem;

        li:nth-child(1) {
            font-size: 2rem;
        }

        li:nth-child(2) {
            font-size: 1.5 rem;
        }
        li:nth-child(3) {
            font-size: 1.5rem;
        }
        li:nth-child(4) {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 1000px) {
    .navbar {
        /* background-color:rgb(3, 105, 28); */
        height: 50px;

        ul li a {
            font-size: 2.5rem;
        }

        #logo {
            margin-top: 10px;
            font-size: 2.5rem;
            margin-left: 20px;
        }
    }

    .image-section {
        grid-column: 1/5;
        padding-top: 80px;

        /* img {
            width: 80%;
        } */
    }

    .text-section {
        grid-column: 5/11;
        padding-top: 1rem;

        li:nth-child(1) {
            font-size: 2rem;
        }

        li:nth-child(2) {
            font-size: 1.5 rem;
        }
        li:nth-child(3) {
            font-size: 1.5rem;
        }
        li:nth-child(4) {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 900px) {
    .navbar {
     
        ul {
            font-size: 1rem;

        }

        #logo {
            font-size: 30px;
            margin-left: 30px;
            padding:-100px ;
          
        }

        #menu {
            float: right;
        }
    }

    .image-section {
        grid-column: 1/5;
        padding-top: 80px;

        img {
            /* border-radius: 10px; */
            width: 70%;
        }
    }

    .text-section {
        grid-column: 5/11;
        padding-top: 1rem;

        li:nth-child(1) {
            font-size: 2rem;
        }

        li:nth-child(2) {
            font-size: 1.5rem;
        }
         li:nth-child(3) {
            font-size: 1.5rem;
        }
        li:nth-child(4) {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 800px) {
    
        .navbar ul {
          display: none;
          flex-direction: column;
          background-color: rgb(2, 63, 114);
          position: absolute;
          top: 60px;
          right: 20px;
          width: 150px;
          border-radius: 10px;
          padding: 10px 0;
          text-align: center;
          z-index: 1000;
          
        }
      
        .navbar ul.show-menu {
          display: flex;
          
        }
      
        .navbar .menu-bar {
          display: block !important;
          font-size: 1.5rem;
          color: white;
          cursor: pointer;
          float: right;
        }
        #nav-links li a {
            font-size: 1rem;
            
      }
      
    .navbar {
        ul {
            display: none;
        }
        

        #logo {
            font-size: 30px;
            margin-left: 20px;
        }
         #menu {
        display: flex !important;
        float: right;
    }
    
    

    .image-section {
        grid-column: 1/5;
        /*padding-top: 20px;*/
    }

    .text-section {
        grid-column: 5/11;
        padding-top: 1rem;
       

        li:nth-child(1) {
            font-size: 2rem;
            padding-top: 1rem;
        }

        li:nth-child(2) {
            font-size: 1.2rem;
        }
        li:nth-child(3) {
            font-size: 1.2rem;
        }
        li:nth-child(4) {
            font-size: 1rem;
        }
    }
}
}

@media screen and (max-width: 700px) {
    .navbar {
        ul {
            display: none;
        }

        #logo {
            font-size: 30px;
            margin-left: 20px;
        }
        
          #menu {
        display: flex !important;
        font-size: 2.5rem;
        float: right;
          }

        
        
    }

    .image-section {
        grid-column: 1/5;

        margin-top: 0;
    }

    .text-section {
        grid-column: 5/11;
       

        li:nth-child(1) {
            font-size: 1.6rem;
        }

        li:nth-child(2) {
            font-size: 1.3rem;
        }
         li:nth-child(3) {
            font-size: 1.3rem;
        }

         li:nth-child(4) {
            font-size: 1rem;
        }

    }
}
@media screen and (max-width: 600px) {
    .navbar {
        ul {
            display: none;
        }

        #logo {
            font-size: 30px;
            margin-left: 20px;
        }

        #menu {
            float: right;
        }
    }

    .image-section {
        grid-column: 1/5;

        img{
            padding: 0;
            margin: 0;
        }
    }

    .text-section {
        grid-column: 5/11;
       

        li:nth-child(1) {
            font-size: 1.2rem;
        }

        li:nth-child(2) {
            font-size: 1rem;
            padding-bottom: -200px;
        }
        li:nth-child(3) {
            font-size: 1rem;
        }
        li:nth-child(4) {
            font-size: .8rem;
        }
    }
}
 @media screen and (max-width: 500px) {
    .navbar {
        ul {
            display: none;
        }

        #logo {
            font-size: 30px;
            margin-left: 20px;
            margin-bottom: 0;
        
        }

        #menu {
            float: right;
        }
    }

    .image-section {
        grid-column: 1/11;
        padding-top: 30px;
       

    }

    .text-section {
        grid-column: 1/11;
        text-align: center;
       padding: 20px;

        li:nth-child(1) {
            font-size: 1.6rem;
        }

        li:nth-child(2) {
            font-size: 1.5rem;
            padding-bottom: -200px;
        }
        li:nth-child(3) {
            font-size: 1rem;
            text-align: center;
        }
        li:nth-child(4) {
            font-size: .8rem;
        }
    }
}
